/* background color of the website */
body {
    background-color: lightblue;
}

@media screen {
    body {
      font-size: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (resolution: 150dpi) {
    body {
      line-height: 1.4;
    }
}

/* Universal Selector */
* {
    border-radius: 0.2cm;
}

/* selector list */
h1, h2 {
    font-family: 'Courier New';      /* font of the h1 and h3 */
}

/* model box for h1 */
h1 {
    color: darkblue;            /* color of text */
    border-style: doubled;        /* doubled line border for the model box */
    text-align: center;           /* align the text */
    padding: 1cm 1cm 1cm 1cm;     /* padding of the model box */
    position: static;             /* static position */
    background-color: skyblue;  /* backgrond color for the model box */
}


/* model box for h3 */
h3 {
    border-style: hidden;          /* hide border */
    text-align: center;            /* align the text */
    position: static;              /* static position */
}

/* model box for nav */
nav {
    border-style: groove;          /* border style */
    padding-top: .5vmax;           /* padding of model box */
    padding-bottom: .5vmax;
    padding-right: .5vmax;
    padding-left: .5vmax;
    margin: 0 0 0 0;               /* margin of model box */
    background-color: lightgray; /* background color for the model box*/
}

nav article {
    font-family: Helvetica;
    border-style: solid;           /* border style */
    border-color: lightskyblue;  /* border color */
    padding: .5em .7em .5em .7em;  /* padding */
    margin: 1mm;                   /* margin */
    background-color: lavender;  /* backgrond color */
    display: flex;                 /* display flex */
    justify-content: space-evenly; /* space evenly */
    flex-grow: 4;
}

nav article span {
    border-style: solid;           /* border style */
    border-radius: 7px;            /* border radius */
    padding: .5em .7em .5em .7em;  /* padding */
    margin: 1mm;                   /* margin */
    background-color: lightgray; /* backgrond color */
    justify-content: space-evenly; /* space evenly */
    max-width: max-content;
}

a[href="#meeting_info"] {
    background-color: lightblue;
}

a[href="#purpose"] {
    background-color: lightskyblue;
}

a[href="#attendance_list"] {
    background-color: lavender;
}

a[href="#agenda"] {
    background-color: lightsteelblue;
}

a[href="#comments"] {
    background-color: lightcyan;
}

a[href="#next_time"] {
    background-color: lightyellow;
}

a[href="#multimedia"] {
    background-color: aquamarine;
}

a[href="#feedback"] {
    background-color: aqua;
}

/* hover link */
a:hover {
    background: yellow;
  }
/* Active links */
a:active {
    color: red;
}

/* model box for h2 */
h2 {
    color: blue;                 /* color of text */
    text-decoration: underline;    /* underline text */
    text-align: left;              /* align the text */
    padding: .5em;                 /* padding of the model box */
    border-style: double;          /* border style */
    border-color: darkblue;      /* border color */
    margin-top: 30px;              /* margin-top */
    margin-bottom: 10px;           /* margin-bottom */
    padding: 20px 10px 20px 10px;  /* padding */
    background-color: skyblue;   /* backgrond color for the model box */
}

/* child combinator */
#purpose > p {
    background-color: lavender;
    padding: 0.2in;
    font-family: Helvetica;
}

#purpose > footer {
    background-color: lightblue;
    color: gray;
}

/* meeting info */
article {
    display: block;                 /* display block */
    padding: 1.5cm;                 /* padding 1.5cm */
    background-color: lightgrey;  /* background color */
    padding: 10px 10px 10px 10px;   /* padding */
}

/* meeting info */
article span {
    background-color: lightskyblue;
    padding: 10px 10px 10px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: .2cm;           /* border radius */
}

/* attendance list */
#attendance {
    background-color: lightgray;
    display: inline-block;
    width: 6cm;
    margin: .2in;
}

/* combining two selectors */
article.attendance {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}


/* adjacent sibling combinator */
h4 ~ ol {
    font-family:'Courier New', Courier, monospace;
}

/* general sibling combinator */
h4 ~ p {
    font-family:'Courier New', Courier, monospace;
}


/* id selector */
#important {
    color: red;
}

ul span {
    background-color: lightskyblue;
}

details {
    background-color: lavender;
    justify-items: center;
    padding: 0.5cm;
}

details span {
    display: grid;
    background-color: lightskyblue;
    margin: .3cm;
    padding: .2cm;
    justify-items: center;
}

footer {
    font-family: Helvetica;
}

/* form */
label {
    display: block;
    margin: 1px;
    padding: 1px;
}

/* class selector */
.req {
    color: red;
}

/* div at the bottom */
div {
    position: sticky;              /* sticky position */
    bottom: 0.2vmin;               /* stick at the bottom */
    background-color: lightgrey; /* background color */
    border-style: double;          /* doubled line border for the model box */
    border-color: black;         /* border color */
    padding: 0 .5cm 0 .5cm;        /* padding */
    display: grid;                 /* display grid */
    grid-template-areas: footer;
    justify-self: start;
}

div span {
    padding-top: .1cm;
}